[submodule "cookbooks/nace-ckan"]
	path = cookbooks/nace-ckan
	url = git@github.alaska.edu:gina-cookbooks/nace-ckan
[submodule "cookbooks/nace_ckan_app"]
	path = cookbooks/nace_ckan_app
	url = git@github.alaska.edu:gina-cookbooks/nace_ckan_app
[submodule "cookbooks/nace_cometchat"]
	path = cookbooks/nace_cometchat
	url = git@github.alaska.edu:gina-cookbooks/nace_cometchat.git
